  /* latin-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/gen/Fonts/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/gen/Fonts/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 500;
    src: url(/gen/Fonts/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIftoxNWZeWGKOnU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 500;
    src: url(/gen/Fonts/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIftoxNWZd2GK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
img {
    display: block;
    max-width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color:  #D5C7A1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}
/*Estilos del Header*/
.header {
    height: 60px;
}
.header .contenedor {
    display: flex;
    margin-top: -360px;
    justify-content: space-between;
}
.iconMenu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
.logo, .iconMenu {
  margin: 95px 15px 0 0;
  color: #000;
}
.logo {
  border-radius: 50px; 
  background: #009900; 
  padding-top: 40px; 
  text-align: center; 
  width: 100px; 
  height: 120px;
  margin-left: 10px;
}
/* Estilos del menu */
.nav {
  margin-top: 110px;
  position: absolute;
  top: 50px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-inline-start: 0;
}
.menuLink {
  display: block;
  padding: 15px;
  background: #FBA919;
  text-decoration: none;
  color: #fff;
}
.menuLink:hover, .select {
  background: white;
  color: #FBA919;
}
.menuItem {
  list-style: none;
}
.mostrar {
  left: 0;
}

/* Estilos del banner */
.banner {
  margin-top: -130px;
  position: relative;
  z-index: -1000;
}

.banner, .contenedor {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #000;
  text-align: center;
}

.bannerTxt {
  display: none;
}

.bannerTitulo {
  margin-top:-50px;
}